/* form.css */

/* General form styles */
.form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF; /* White background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #2D3748; /* Dark Gray for header */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #2D3748; /* Dark Gray for labels */
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #A0AEC0; /* Light Gray for placeholders */
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #69A3FF; /* Light Blue from logo */
    color: #FFFFFF; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-sizing: border-box;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #4169E1; /* Dark Blue for hover */
    transform: scale(1.05);
}

.home-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #69A3FF; /* Light Blue from logo */
    color: #FFFFFF; /* White text */
    width: 100%;
    max-width: 20rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
    align-self: center;
    box-sizing: border-box;
}

.home-button:hover {
    background-color: #4169E1; /* Dark Blue for hover */
    transform: scale(1.05);
}

.error {
    color: #FF6B6B; /* Coral for error messages */
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

/* Additional styling specific to Login component */
.email,
.password {
    margin-bottom: 15px;
}

.email label,
.password label {
    font-size: 16px;
    color: #2D3748; /* Dark Gray for labels */
}

.email input,
.password input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.extrafeature {
    margin-top: 20px;
    text-align: center;
}

.extrafeature a {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
    color: #69A3FF; /* Light Blue for links */
    text-decoration: none;
}

.extrafeature a:hover {
    text-decoration: underline;
}
